<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SimpleMetrics</title>

    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/app/app.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
</head>

<body>
    <div id="footer-white">
		<div class="container">
			<div class="row">
				<div class="col-md-12 menu">
	          				<a href="/pricing">Pricing</a> &nbsp; | &nbsp;
	        				<a href="/demo">Demo</a> &nbsp; | &nbsp;
	          				<a href="user/register">Sign Up</a> &nbsp; | &nbsp;
							<a href="mailto:getsimplemetrics@gmail.com?Subject=" target="_top">Support</a> &nbsp; |
                    &nbsp;
	          				<a href="http://www.facebook.com">Facebook</a> &nbsp; | &nbsp;
	        				<a href="http://www.twitter.com">Twitter</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>